<!DOCTYPE html>
<html>
<head>
  <title>Create a Team and Heroes</title>
</head>
<body>
<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="POST">
<h2>Team Information</h2>
<label for="team[name]">Name:</label>
<input name="team[name]"><br>
<label for="team[motto]">Motto:</label>
<input name="team[motto]"><br><br>
<h2>Hero 1</h2>
<label for="team[members][][name]">Name:</label>
<input name="team[members][][name]" id="member1_name"><br>
<label for="team[members][][power]">Power:</label>
<input name="team[members][][power]" id="member1_power"><br>
<label for="team[members][][biography]">Biography:</label>
<input name="team[members][][biography]" id="member1_bio"><br>
<h2>Hero 2</h2>
<label for="team[members][][name]">Name:</label>
<input name="team[members][][name]" id="member2_name"><br>
<label for="team[members][][power]">Power:</label>
<input name="team[members][][power]" id="member2_power"><br>
<label for="team[members][][biography]">Biography:</label>
<input name="team[members][][biography]" id="member2_bio"><br>
<h2>Hero 3</h2>
<label for="team[members][][name]">Name:</label>
<input name="team[members][][name]" id="member3_name"><br>
<label for="team[members][][power]">Power:</label>
<input name="team[members][][power]" id="member3_power"><br>
<label for="team[members][][biography]">Biography:</label>
<input name="team[members][][biography]" id="member3_bio"><br>
<button type="submit" name="submit">submit</button>
</body>
</html>